<div class="col-md-12">
  <h3>
    About Us
  </h3>
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="row">
      <p>
        Over C Industrial Supply is a leader in solutions for material handling, tools and equipment, safety and ergonomics. We work
        closely with clients to help them improve efficiency, safety, cost and delivery.
      </p>
    </div>
    <br>
    <div class="row">
      <h4> History </h4>
      <p>
        Over C Industrial Supply has been making workplaces work better since 2014. Since it was founded, we have provided products
        and services to a broad range of industry sectors including Manufacturing, Logistics, Government Organizations and
        Aviation
      </p>
    </div>
    <br>
    <div class="row">
      <h4>The OverC</h4>
      <p>
        Our commitment to a better way to work brings a strong customerfocused culture to the organization. Our product mix has been
        born out of recognized needs. Through our consultative process, we listen to what we hear from our customers and
        our product offering is shaped accordingly. We are committed to working closely with our customers, building and
        maintaining mutually beneficial, long term relationships. Our mission is underpinned by our values of integrity and
        total customer satisfaction.
      </p>
      <br>
      <p>
        Whether you need assistance with ergonomic challenges you have, tools you need, material handling equipment, safety concerns,
        or many other on-site needs, you can improve working conditions with a solution from Over C Industrial Supply! And,
        it’s all backed by top service and support from a family-owned and operated enterprise
      </p>
    </div>
  </div>


</div>
