<div class="col-sm-4 col-xs-6 col-md-12">
  <h1>Contact</h1>
  <div class="row" style="margin-left:80px;">
    <div class="col-md-6 info">
      <p class="company">OVER C</p>
      <p class="sub-company">LIMITED PARTNERSHIP</p>
      <p class="name">Pharkphum Suksanguan</p>
      <p class="name">ภาคภูมิ สุขสงวน (ป๋อม)</p>
      <p class="tel">
        <i class="material-icons">call</i> +66(0) 58 320 3180
      </p>
      <p class="tel">
        <i class="material-icons">call</i> +66(0) 94 556 6313
      </p>
      <div class="mail">
        <i class="material-icons">mail_outline</i>
        <label style="position: relative;bottom: 7px;margin-right:20px;">pharkphum@overc-th.com</label>
        <i class="material-icons">laptop_windows</i>
        <label style="position: relative;bottom: 7px;">www.OVERC-TH.COM</label>
      </div>
    </div>
    <div class="col-md-6 info2">
        <p class="company">OVER C</p>
        <p class="sub-company" style="padding-bottom:130px;">LIMITED PARTNERSHIP</p>
        <br>
      <div class="address">
        <label>55/51 Pattana Chonabot 3 Road,Klong-songtonnoon,Latkrabang,Bankok 10520</label>
      </div>
    </div>
  </div>

</div>