<div class="col-sm-4 col-xs-6 col-md-12">
  <h1>Contact</h1>
  <div class="row" style="margin-left:30%;">
    <div class="col-md-12 info">
      <p class="company">OVER C</p>
      <p class="sub-company">LIMITED PARTNERSHIP</p>
      <p class="name">Pharkphum Suksanguan</p>
      <p class="name" style=" margin-bottom: 20px;">ภาคภูมิ สุขสงวน (ป๋อม)</p>
      <p class="tel">
        <i class="material-icons">call</i> +66(0) 58 320 3180
      </p>
      <p class="tel"style=" margin-bottom: 20px;margin-left:39px;">+66(0) 94 556 6313
      </p>
      <p class="mail"><i class="material-icons">mail_outline</i> <label >pharkphum@overc-th.com</label></p>
      <p class="mail" style=" margin-bottom: 20px;"><i class="material-icons">laptop_windows</i> <label>www.OVERC-TH.COM </label></p>
      <p class="address" ><i class="material-icons">location_on</i>
        <label>55/51 Pattana Chonabot 3 Road,Klong-songtonnoon,Latkrabang,Bankok 10520</label></p>
    </div>
  </div>

</div>