.info{
   border-style: solid;
   border-width: 2px;
   border-color: #DF013A;
   background-color: #A4A4A4;
   padding: 0px;
   border-radius: 1px;
   width: 40%;

}
.company{
    background-color:#D8D8D8; 
    font-size:46px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 0px;
}
.sub-company{
    background-color:#D8D8D8; 
    font-size:32px;
    font-weight: normal;
    text-align: left;
}
.name{
    color:#585858;
    font-size: 18px;
    font-weight: normal;
    text-align: left;

}
.tel{
    text-align: right;
}
.mail{
    padding: 8px 8px 8px;
    background-color: #F1C40F;
    text-align: center;
}
h1{
    text-align: center;
    color: #D8D8D8;
    font-size: 76px;
    font-weight: normal;
    margin-bottom: 80px;
}
.info2{
    border-style: solid;
    border-width: 2px;
    border-color: #DF013A;
    background-color: #D8D8D8;
    padding: 0px;
    border-radius: 1px;
    width: 40%;
    margin-left: 10%;
}