<div class="col-sm-12 col-xs-12 col-md-12" style="margin-left:8%;">
  <h1>Contact</h1>
  <div class="row">
    <div class="col-sm-12 col-xs-12 col-md-12 info">
      <p class="company">OVER C</p>
      <p class="sub-company">LIMITED PARTNERSHIP</p>
      <p class="tel">
        <i class="material-icons">call</i> +66(0) 58 320 3180
      </p>
      <p class="mail">
        <i class="material-icons">mail_outline</i>
        <label>info@overc-th.com</label>
      </p>
      <p class="mail" style=" margin-bottom: 20px;">
        <i class="material-icons">laptop_windows</i>
        <label>www.overc-th.com </label>
      </p>
      <p class="address">
        <i class="material-icons">location_on</i>
        <label>55/51 Pattana Chonabot 3 Road</label>
      </p>
      <p class="address" style="margin-left:40px;">
        <label>Klong-songtonnoon Latkrabang
          <br> Bankok 10520, Thailand</label>
      </p>
    </div>
  </div>

</div>