<div class="container">
  <div class="row" style="margin:15px;">
    <div class="col-sm-1 col-xs-4 col-md-6">
      <a routerLink="/home" class="navbar-brand" style="padding-top:5px">
        <img src="assets\img\212.jpg" alt="">
      </a>
    </div>
    <div class="col-sm-11 col-xs-8 col-md-6 right-site" style=" margin-top:18px;">
      <p class="contact">call us 805 550 0723</p>
      <p class="contact">email us info@OverC.com</p>
    </div>
  </div>



 
  <div class="row header">
    <div class="col-md-12 " style="text-align: right;">
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="menu">
       <label>Home</label> 
      </a>

      <a routerLink="/product" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="menu">
        <label>Product</label>
      </a>

      <a routerLink="/service" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="menu">
        <label>Service</label>
      </a>

      <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="menu">
        <label>Contact</label>
      </a>

      <a routerLink="/about-us" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="menu">
        <label>About us</label>
      </a>

    </div>
  </div>
</div>

<div class="contianer">
  <router-outlet></router-outlet>
</div>
