.navbar-default{
    border: none;
    margin-bottom: 0px;

}
.navbar-brand{
    height: 70px;
}
.col-md-12{
    background: #2E2E2E;
    height: 100%;
    width: 100%;
}
.active{
    background-color: #6E6E6E;
}

