
  <div class="contianer">
    <a routerLink="/home" class="navbar-brand" style="padding-top:5px">
       <img src="\assets\icon\logo.png" alt="" style="width: 66px; height: 60px; margin-top:7px;">
    </a>
    <ul class="navbar-nav nav navbar-right">
      <li  >
        <a routerLink="/contact" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" style="margin-right:38px; margin-top:6px; color:#BDBDBD; font-size:18px">contact</a>
      </li>
    </ul>
  </div>

<div class="contianer">
  <div class="col-sm-6 col-xs-6 col-md-12">
    <div class="col-sm-6 col-xs-6 col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>


</div>