.navbar-default{
    border: none;
    margin-bottom: 0px;
    background: #2E2E2E;
   a{
       color: #D8D8D8;
   }

    a:hover,a:active{
        background-color: #BDBDBD;
        color: #2E2E2E;
    
    
   }

}
.navbar-brand{
    height: 70px;
}
.col-md-12{
    background: #2E2E2E;
    height: 100%;
    width: 100%;
}


