.main {
  margin-left: 25px;
  margin-top: 25px;
}

.pic-page3 {
  height: 450px;
}

.pic-avia {
  height: 240px;
}

p {
  font-size: 16px;
  font-weight: 200;
}

.row {
  margin-bottom: 25px;
}

label {
  font-weight: 400;
}

h3,
p {
  color: #BDBDBD;
}

.picPro {
  margin-left: 25px;
  margin-top:25px;
  .subpicPro {
    width: 18.66666667%;
  }
}

@media screen and (max-width:812px) {
  .main {
    margin-left: 0px;
    margin-top: 25px;
  }
  .pic-page3 {
    height: 280px;
  }
  .pic-avia {
    height: 280px;
    margin-bottom: 10px;
  }
  .picPro {
    margin-left: 0px;
    .subpicPro {
      width: 100%;
      text-align: center;
      img {
        width: 40%
      }
    }
  }
}

@media screen and (min-width:768px) {
  p {
    font-size: 20px;
  }
}
@media screen and (max-width:480px){
p{
    font-size: 16px;
}
}
