.pic-page3{
    height: 450px;
}
.pic-avia{
    height: 240px;
}
p{
    font-size:18px;
}
.row{
    margin-bottom: 25px;
}
label{
    font-weight: 400;
}
h3,p{
    color: #BDBDBD;
}



@media screen and (max-width:768px){
    .pic-page3{
        height: 150px;
    }
    p{
        font-size:16px;
    }
    .pic-avia{
        height: 125px;
        margin-bottom: 10px;
    }
    p{
        font-size:16px;
    }
}
