/* You can add global styles to this file, and also import other style files */
body{
    background-color: #2E2E2E;
    font-family: 'Fjalla One', sans-serif;
}
h2,h4,h3,p,h2,button,a,li{
    color: #D8D8D8;
    font-weight: bold;
}
p,label{
  color: #D8D8D8;  
}
img{
    width: 100%;
}