p{
    color: #BDBDBD;
    font-size: 70px;
}
img{
    width: 37%;
}


@media screen  and (max-width:480px){
    p{
        font-size: 43px;
    }
    img{
        width: 100%;
        margin-top: 15%;
    }
}
@media screen  and (max-width:768px){
    img{
        width: 80%;
        margin-top: 15%;
    }
}

@media screen and (max-width:1024px) {
    img{
        width: 80%;
        margin-top: 15%;
    }
}
