<div class="col-sm-12 col-xs-12 col-md-12" style="padding:0px;">
    <div class="contianer">
        <div class="col-sm-12 col-xs-12 col-md-12" style="padding:35px;">

            <h2 style="margin-bottom:25px;margin-top:35px;">Services</h2>
            <h2 style="margin-bottom:20px;">Aircraft Cleaning Services</h2>
            <p>Your aircraft deserves personalized attention, and that’s why our services are designed specifically to ensure
                every inch is cared for with only premium aviation-approved products and high quality materials.
                <span style="font-weight:600;">Explore our service menu below to learn more:</span>
            </p>


            <h3>Interior Services</h3>
            <p>Your home away from home deserves the utmost respect and care, and since no two interiors are ever the same,
                we’ve designed our interior services to ensure your requests and expectations are not only met, but exceeded</p>
            <div class="row pic-group">
                <div class="col-md-3">
                    <img src="assets\img\Aircraft-Leather-Seat-Being-Cleaned-150x150.jpg" class="pic-topic">
                </div>
                <div class="col-md-3">
                    <img src="assets\img\Business-Jet-Cabin-150x150.jpg" class="pic-topic">
                </div>
                <div class="col-md-3">
                    <img src="assets\img\DSC_3667-150x150.jpg" class="pic-topic">
                </div>
            </div>
            <ul>
                <li>General Cleaning and Detailing</li>
                <p>Cleaning your aircraft’s interior is the first line of defense in keeping your aircraft looking great. And
                    with the flexibility of choosing a full or quick interior service, every surface inside your aircraft
                    is cleaned, sanitized, and reorganized just the way you like it.</p>
                <li>Carpet Extraction</li>
                <p>Commercial level carpet extraction removes dirt, oils, and stains while removing 98% of the water used. The
                    end result is a refreshed carpet ready for your next flight.</p>
                <li>Leather Cleaning and Reconditioning</li>
                <p>Focused on bringing back the life of your aircraft’s leather, the hide is first thoughtfully cleaned before
                    several passes are made with premium conditioners to breath life into once faded seats, armrests, and
                    headliners.</p>
            </ul>

            <h3>Exterior Services</h3>
            <p>You wouldn’t want your aircraft to be damaged by random chemicals, and that’s why each of our exterior services
                are designed to meet your aircraft’s particular OEM requirements. From washes to brightwork polishing, your
                aircraft’s exterior is covered like never before.</p>
            <div class="row pic-group">
                <div class="col-md-4">
                    <img src="\assets\img\clean.jpg" class="pic-topic" >
                </div>
                <div class="col-md-4">
                    <img src="assets\img\Aircraft-Belly-Cleaning-1024x685.jpg" class="pic-topic">
                </div>
            </div>
            <ul>
                <li>Brightwork (Metal Polishing)</li>
                <p>Designed to remove scratches, pitting, and hazing from your aircraft metal surfaces, this multistage process not only removes these items but will leave your metal with a deep mirror-like shine.</p>
                <li>Paint Protection (Sealants &amp; Waxes)</li>
                <p>Protecting your aircraft’s paint not only keeps it looking great, but can actually save you money in repainting costs down the line. So if you’re looking to restore the appearance of your aircraft’s faded paint or just want to keep what you have looking great, these services are for you.</p>
                <li>Deice Boot Strip and Reseal</li>
                <p>Just like their metal cousins, deice boots require care to ensure their appearance and useful life can be extended as much as possible. Using a muilt-step process that first removes old buildup, the boot surface is cleaned multiple times before several new layers of sealant are applied. The result is boot that not only looks new, but has a deep shine that will make your ramp neighbors envious.</p>
            </ul>
        </div>
    </div>




    <!--++++++++++++++++++++++++++++++++++++++++++++++++++ Home Page ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->
    <!-- <img src="assets\img\trump-flying-plane-AF1116.jpg" class="pic"> -->
    <!-- <div class="col-md-4" style="margin-left:15px; margin-top:15px;">
            <h3>Menu</h3>
            <p>
                <a href="">
                    Pre-Buy Inspaction
                </a>
            </p>
            <p>
                <a href="">
                    Aircraft Records &amp; Logbook Review
                </a>
            </p>
            <p>
                <a href="">
                    Maintence Management
                </a>
            </p>
            <p>
                <a href="">
                    Aircraft Maintence Invoice Audits
                </a>
            </p>
        </div> -->

    <!-- <div class="col-md-6" style="margin-top:15px;">
            <h3>Service</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="assets\img\nintchdbpict000345746799.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h4>Pre-Buy Inspections</h4>
                    <p>Due diligence to minimize your risk and provide confidence in your investment</p>
                    <p>
                        <a href="" class="more">more info....</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="assets\img\nintchdbpict000345746799.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h4>Aircraft Records &amp; Logbook Review</h4>
                    <p>Due diligence to minimize your risk and provide confidence in your investment</p>
                    <p>
                        <a href="" class="more">more info....</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="assets\img\nintchdbpict000345746799.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h4>Maintence Management</h4>
                    <p>Due diligence to minimize your risk and provide confidence in your investment</p>
                    <p>
                        <a href="" class="more">more info....</a>
                    </p>
                </div>
            </div>
        </div> -->

</div>