<div class="col-sm-12 col-xs-12 col-md-12" style="padding:0px;">
    <!-- +++++++++++++++++++++++++++++ page 3 ++++++++++++++++++++++++++++++ -->
    <!-- <img src="assets\img\trump-flying-plane-AF1116.jpg" class="pic-page3">
    <div class="col-md-12" style="margin-left:25px;">
        <div class="col-md-8">
            <h3>Aviation Tool and Storage</h3>
            <div class="row" style="margin-top:25px">
                <div class="col-md-6">
                    <img src="assets\img\P14076842.jpg" class="pic-avia" alt="">
                </div>
                <div class="col-md-6">
                    <img src="assets\img\P24207147.jpg" class="pic-avia" alt="">
                </div>
            </div>
            <div class="row" style="margin-top:25px;">
                <p>Priceless Aviation offers a selection of pre-designed aviation tool kits that have been designed using the
                    highest quality tools to offer aviation maintenance personnel the best solution for AOG and base maintenance
                    tasks. The kits can be provided as seen below in impact resistant cases or in the Priceless Aviation
                    Pro series of electronic tool control cabinets. The kits come with aircraft tools laid out in laser cut
                    Skydrol resistant foam and can also be laser etched. Many of the worlds leading airlines, MRO’s and military
                    organizations already opt to use these high quality kits that offer the user the tools they need to do
                    their job and help the reduction of FOD. We can create aviation tool kits designed to customer specification
                    or pre-designed kits as seen below. Our aviation tools and tool cabinets are also sold separately. As
                    well as offering a wide selection of specifically designed aviation tool kits Priceless Aviation can
                    also offer individual aircraft tools.You can pick and choose a selection of tools, send us the information,
                    we can then send you a price for the tools. In addition we can also cost to have them engraved, put into
                    a carry case or tool cabinet and embedded in Sydrol resistant foam for easy tool management.
                </p>
            </div>
        </div>
        <div class="col-md-4">
            <h3 style="font-weight:400;">How We Can Help</h3>
            <hr>
            <p>
                <a href="">
                    Aviation &amp; Aircraft Consulting Service
                </a>
            </p>
            <p>
                <a href="">
                    Aircraft Maintenance Invoice Audits for Value and Accuracy
                </a>
            </p>
            <p>
                <a href="">
                    Respressentation for Pre-Buy Technical Evaluations
                </a>
            </p>
            <p>
                <a href="">
                    Aircraft Records &amp; Logbook Review
                </a>
            </p>
            <p>
                <a href="">
                    Aircraft Maintenance Management &amp; Consulting
                </a>
            </p>
            <p>
                <a href="">
                    Conformity &amp; Compliance Inspactions
                </a>
            </p>
            <p>
                <a href="">
                   Technical Assistance to Legal Counsel
                </a>
            </p>
        </div>
    </div> -->


    <!--++++++++++++++++++++++++++++++ page 2  +++++++++++++++++++++++++++++++++++++++++++++++-->
    <!-- <div class="contianer">
        <div class="col-sm-12 col-xs-12 col-md-12" style="padding:35px;">

            <h2 style="margin-bottom:25px;margin-top:35px;">Services</h2>
            <h2 style="margin-bottom:20px;">Aircraft Cleaning Services</h2>
            <p>Your aircraft deserves personalized attention, and that’s why our services are designed specifically to ensure
                every inch is cared for with only premium aviation-approved products and high quality materials.
                <span style="font-weight:600;">Explore our service menu below to learn more:</span>
            </p>


            <h3>Interior Services</h3>
            <p>Your home away from home deserves the utmost respect and care, and since no two interiors are ever the same,
                we’ve designed our interior services to ensure your requests and expectations are not only met, but exceeded</p>
            <div class="row pic-group">
                <div class="col-md-3">
                    <img src="assets\img\Aircraft-Leather-Seat-Being-Cleaned-150x150.jpg" class="pic-topic">
                </div>
                <div class="col-md-6">
                    <p class="topic">General Cleaning and Detailing</p>
                    <p>Cleaning your aircraft’s interior is the first line of defense in keeping your aircraft looking great.
                        And with the flexibility of choosing a full or quick interior service, every surface inside your
                        aircraft is cleaned, sanitized, and reorganized just the way you like it.</p>
                </div>
            </div>
            <div class="row pic-group">
                <div class="col-md-3">
                    <img src="assets\img\Business-Jet-Cabin-150x150.jpg" class="pic-topic">
                </div>
                <div class="col-md-6">
                    <p class="topic">Carpet Extraction</p>
                    <p>Commercial level carpet extraction removes dirt, oils, and stains while removing 98% of the water used.
                        The end result is a refreshed carpet ready for your next flight.</p>
                </div>
            </div>
            <div class="row pic-group">
                <div class="col-md-3">
                    <img src="assets\img\DSC_3667-150x150.jpg" class="pic-topic">
                </div>
                <div class="col-md-6">
                    <p class="topic">Leather Cleaning and Reconditioning</p>
                    <p>Focused on bringing back the life of your aircraft’s leather, the hide is first thoughtfully cleaned
                        before several passes are made with premium conditioners to breath life into once faded seats, armrests,
                        and headliners.</p>
                </div>
            </div>
            <h3>Exterior Services</h3>
            <p>You wouldn’t want your aircraft to be damaged by random chemicals, and that’s why each of our exterior services
                are designed to meet your aircraft’s particular OEM requirements. From washes to brightwork polishing, your
                aircraft’s exterior is covered like never before.</p>
            <div class="row pic-group">
                <div class="col-md-3">
                    <img src="\assets\img\clean.jpg" class="pic-topic">
                </div>
                <div class="col-md-6">
                    <p class="topic">Brightwork (Metal Polishing)</p>
                    <p>Protecting your aircraft’s paint not only keeps it looking great, but can actually save you money in
                        repainting costs down the line. So if you’re looking to restore the appearance of your aircraft’s
                        faded paint or just want to keep what you have looking great, these services are for you.</p>
                </div>
            </div>
            <div class="row pic-group">
                <div class="col-md-3">
                    <img src="assets\img\Aircraft-Belly-Cleaning-1024x685.jpg" class="pic-topic">
                </div>
                <div class="col-md-6">
                    <p class="topic">Paint Protection (Sealants &amp; Waxes)</p>
                    <p>Protecting your aircraft’s paint not only keeps it looking great, but can actually save you money in
                        repainting costs down the line. So if you’re looking to restore the appearance of your aircraft’s
                        faded paint or just want to keep what you have looking great, these services are for you.</p>
                </div>
            </div>
            <div class="row pic-group">
                <div class="col-md-3">
                    <img src="assets\img\Aircraft-Belly-Cleaning-1024x685.jpg" class="pic-topic">
                </div>
                <div class="col-md-6">
                    <p class="topic">Deice Boot Strip and Reseal</p>
                    <p>Just like their metal cousins, deice boots require care to ensure their appearance and useful life can
                        be extended as much as possible. Using a muilt-step process that first removes old buildup, the boot
                        surface is cleaned multiple times before several new layers of sealant are applied. The result is
                        boot that not only looks new, but has a deep shine that will make your ramp neighbors envious.</p>
                </div>
            </div>

        </div>
    </div> -->




    <!--++++++++++++++++++++++++++++++++++++++++++++++++++ Home Page ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->

    <img src="assets\img\trump-flying-plane-AF1116.jpg" class="pic">
    <div class="topnav hidden-md hidden-lg" id="myTopnav">
        <a href="#home" class="active">Menu</a>
        <a href="#news">Pre-Buy Inspaction</a>
        <a href="#contact">Aircraft Records &amp; Logbook Review</a>
        <a href="#about"> Maintence Management</a>
        <a href="">Aircraft Maintence Invoice Audits</a>
        <a href="javascript:void(0);" style="font-size:15px;" class="icon" (click)="myFunction()">&#9776;</a>
    </div>

    <!-- Menu display MD -->
    <div class="col-md-4 hidden-xs hidden-sm" style="margin-left:15px; margin-top:15px;">
        <h3>Menu</h3>
        <p>
            <a href="">
                Pre-Buy Inspaction
            </a>
        </p>
        <p>
            <a href="">
                Aircraft Records &amp; Logbook Review
            </a>
        </p>
        <p>
            <a href="">
                Maintence Management
            </a>
        </p>
        <p>
            <a href="">
                Aircraft Maintence Invoice Audits
            </a>
        </p>
    </div>

    <div class="col-md-6 detail-service" >
        <h3>Service</h3>
        <div class="row">
            <div class="col-md-3">
                <img src="assets\img\Pre buy.jpg" class="pic-service" alt="">
            </div>
            <div class="col-md-6">
                <h4>Pre-Buy Inspections</h4>
                <p>Due diligence to minimize your risk and provide confidence in your investment</p>
                <p>
                    <a href="" class="more">more info....</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="assets\img\Aircraft log.jpg" class="pic-service" alt="">
            </div>
            <div class="col-md-6">
                <h4>Aircraft Records &amp; Logbook Review</h4>
                <p>Due diligence to minimize your risk and provide confidence in your investment</p>
                <p>
                    <a href="" class="more">more info....</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <img src="assets\img\Management.jpg" class="pic-service" alt="">
            </div>
            <div class="col-md-6">
                <h4>Maintence Management</h4>
                <p>Due diligence to minimize your risk and provide confidence in your investment</p>
                <p>
                    <a href="" class="more">more info....</a>
                </p>
            </div>
        </div>
    </div>

</div>