p{
    color: #BDBDBD;
    font-size: 70px;
}
img{
    width: 37%;
}


@media screen  and (max-width:480px){
    p{
        font-size: 43px;
    }
    .col-xs-6{
        width: 100%;
    }
    img{
        width: 100%;
    }
}