<div class="col-sm-12 col-xs-12 col-md-12" style="padding:0px;">
    <div class="col-sm-12 col-xs-12 col-md-12" style="padding:0px;">
        <div class="container-fluid">
            <h2 style="margin-bottom:25px;margin-top:35px;">Aircraft Cleaning Services</h2>
            <p style="font-size:18px;">Your aircraft deserves personalized attention, and that's why our services are designed specifically to ensure every inch is cared for wtih only premium aviation-approved</p>
            <p style="font-size:18px;">products and high quality materials. <span style="font-weight:600;">Explore our service menu below to learn more:</span></p>
        </div>

        <!-- <img src="assets\img\trump-flying-plane-AF1116.jpg" class="pic"> -->
        <!-- <div class="col-md-4" style="margin-left:15px; margin-top:15px;">
            <h3>Menu</h3>
            <p>
                <a href="">
                    Pre-Buy Inspaction
                </a>
            </p>
            <p>
                <a href="">
                    Aircraft Records &amp; Logbook Review
                </a>
            </p>
            <p>
                <a href="">
                    Maintence Management
                </a>
            </p>
            <p>
                <a href="">
                    Aircraft Maintence Invoice Audits
                </a>
            </p>
        </div> -->

        <!-- <div class="col-md-6" style="margin-top:15px;">
            <h3>Service</h3>
            <div class="row">
                <div class="col-md-3">
                    <img src="assets\img\nintchdbpict000345746799.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h4>Pre-Buy Inspections</h4>
                    <p>Due diligence to minimize your risk and provide confidence in your investment</p>
                    <p>
                        <a href="" class="more">more info....</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="assets\img\nintchdbpict000345746799.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h4>Aircraft Records &amp; Logbook Review</h4>
                    <p>Due diligence to minimize your risk and provide confidence in your investment</p>
                    <p>
                        <a href="" class="more">more info....</a>
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <img src="assets\img\nintchdbpict000345746799.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <h4>Maintence Management</h4>
                    <p>Due diligence to minimize your risk and provide confidence in your investment</p>
                    <p>
                        <a href="" class="more">more info....</a>
                    </p>
                </div>
            </div>
        </div> -->
    </div>
</div>